@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  font-family: 'PPTelegraf', 'sans-serif';
  font-weight: 400;
  /* font-size: 60px; */
  background-color: black;
  overflow-x: hidden;
  cursor: none;
  ::-moz-selection { background: #D2DE32; color: #000; }
	::selection { background: #D2DE32; color: #000; }
}

#custom-cursor{
  @media (max-width: 500px) {
    display: none;
  }
}

.noise::before{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  content: "";
  /* you can control opacity of noise  */
  opacity: .05;  
  z-index: 20000;
  pointer-events: none;
  background: url(/images/noise.gif);
}

#custom-cursor {
  position: fixed;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid #D2DE32; /* Initial color */
  pointer-events: none; /* Allow clicks to pass through */
  z-index: 100000;
  &.animate{
    &:before {
      content: '';
      position: relative;
      display: block;
      width: 300%;
      height: 300%;
      box-sizing: border-box;
      margin-left: -100%;
      margin-top: -100%;
      border-radius: 50%;
      background-color: #D2DE32;
      animation: pulse-ring 1.25s cubic-bezier(0.215, 0.61, 0.355, 1) infinite;
    }
      box-shadow: 0 0 8px rgba(0,0,0,.3);
      animation: pulse-dot 1.25s cubic-bezier(0.455, 0.03, 0.515, 0.955) -.4s infinite;
      background-color: #D2DE32;
    // &:after {
    //   content: '';
    //   position: absolute;
    //   left: 0; 
    //   top: 0;
    //   display: block;
    //   width: 100%;
    //   height: 100%;
    //   background-color: #D2DE32;
    //   border-radius: 15px;
    //   box-shadow: 0 0 8px rgba(0,0,0,.3);
    //   animation: pulse-dot 1.25s cubic-bezier(0.455, 0.03, 0.515, 0.955) -.4s infinite;
    // }
  }

}

.pointer-element{
  cursor: none;
}


@keyframes pulse-ring {
  0% {
    transform: scale(.33);
  }
  80%, 100% {
    opacity: 0;
  }
}

@keyframes pulse-dot {
  0% {
    transform: scale(.8);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(.8);
  }
}

.slide-in{
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #D2DE32;
  transform-origin: bottom;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.slide-out{
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #D2DE32;
  transform-origin: top;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.progress {
  position: fixed;
  left: 0;
  right: 0;
  height: 5px;
  background: #D2DE32;
  bottom: 0px;
}
